@tailwind base;
@tailwind components;
@tailwind utilities;
/*body {
  background: linear-gradient(238deg, #a8a1a1, #5d8d98, #435e81, #0d0f26, #101312, #25332c);

  background-size: 1200% 1200%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 30s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
*/

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }